.tc-lime {
    color: rgb(11, 146, 63);
}
.tc-purple {
    color: purple;
}
.tc-orange {
    color: orange;
}
.tc-white {
    color: white;
}
.tc-blue {
    color: blue;
}
.tc-mblue {
    color: darkslateblue;
}